@media only screen and (max-width: 300px) {


    body {
        background-color: red;
        font-size: 10px;
    }

    .small {

    }


    div.medium {

    }

    div.large {

    }

}

@media only screen and (min-width: 301px) and (max-width: 768px) {
    div.small {
        width: 66.6%;

    }

    div.medium {
        width: 33.33%


    }

    body {
        background-color: green;
        font-size: 20px;

    }

    div.large {

    }
}

@media only screen and (min-width: 768px) {

    div.small {
        width: 33%;
        float: left;
    }

    div.medium {
        width: 33%;
        float: left;
    }

    div.large {
        width: 33%;
        float: left;
    }

    body {
        background-color: lightblue;
        font-size: 30px;
    }
}