@media only screen and (max-width: 300px) {
    div.small {

    }
    [class*="col-"] {
        width: 100%;
    }
    body {
        background-color: red;
        font-size: 10px;
    }


div.medium {
    display: none;
}

div.large {
    display: none;
}

}

@media only screen and (min-width: 301px) and (max-width: 768px) {
    div.small {
        display: none;
    }

    div.medium {

    }

    body {
        background-color: green;
        font-size: 20px;
    }

    div.large {
        display: none;
    }
}

@media only screen and (min-width: 768px) {

    div.small {
        display: none;
    }

    div.medium {
        display: none;
    }

    div.large {

    }

    body {
        background-color: lightblue;
        font-size: 30px;
    }
}