@media only screen and (max-width: 300px) {



    body {
        background-color: red;
        font-size: 10px;
    }

    .small {

    }


    div.medium {

    }

    div.large {

    }

}

@media only screen and (min-width: 301px) and (max-width: 768px) {
    div.small {
        display: none;
    }

    div.medium {

    }

    body {
        background-color: green;
        font-size: 20px;
    }

    div.large {
        display: none;
    }
}

@media only screen and (min-width: 768px) {

    div.small {
        display: none;
    }

    div.medium {
        display: none;
    }

    div.large {

    }

    body {
        background-color: lightblue;
        font-size: 30px;
    }
}